[submodule "msvc-common"]
	path = msvc-common
	url = https://github.com/mbeckh/msvc-common.git
	branch = master
	update = rebase
[submodule "googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
	branch = master
	update = merge
	shallow = true
[submodule "llamalog"]
	path = lib/llamalog
	url = https://github.com/mbeckh/llamalog.git
	branch = master
	update = rebase
[submodule "fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
	update = merge
	shallow = true
[submodule "Detours"]
	path = lib/Detours
	url = https://github.com/Microsoft/Detours.git
	branch = master
	update = merge
	shallow = true
